* {
    background-color: #3865fc;
    color: whitesmoke;
}

header {
    padding: 50px;
    text-align: center;
    font-size:x-large;
}

.title {
    background-color: #3594f2;
    color: #7338fc;
    font-style: strong;
}
